    <!-- About Section -->
<img src="{{ site.baseurl }}/img/intro-bg2.jpg" class="banner" alt="We are MUSA!">
    <section id="about" class="content-section text-center">
            <h1>About us</h1>
<p>We are the Mathematics Undergraduate Student Association of the University of California, Berkeley!</p>
<div class="resource">
<p>We strive to improve the overall quality of studying mathematics here as an undergraduate, especially by 
advocating for issues that benefit the entire undergraduate math community, not only the subset that attends our 
events.</p>
<p>Joining MUSA is an excellent way to connect with other math enthusiasts. You can learn about the many 
opportunities for math students, including little tricks that will help you survive the rigorous math curriculum 
here.</p>
<p>MUSA is independent of the University of California, and is managed by our team of <a href="{{ site.baseurl }}/officers/">officers</a>.</p>
            <h4>Our office</h4>
            <p>Our office at 938 Evans Hall is open Monday through Friday from 11am to 5pm.</p>
<p>Oh, we also provide very important services such as selling cheap food and Berkeley 
Mathematics apparel.
You can see who's in the office and what food we have at our <a href="{{ site.baseurl }}/office-hours/">office hours</a> page.</p>
        </div>
    </section>
