    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-lg-6 col-lg-offset-1">
            <h2>About us</h2>
<p>We strive to improve the overall quality of studying mathematics here as an undergraduate, especially by 
advocating for issues that benefit the entire undergraduate math community, not only the subset that attends our 
events.</p>
<p>Joining MUSA is an excellent way to connect with other math enthusiasts. You can learn about the many 
opportunities for math students, including little tricks that will help you survive the rigorous math curriculum
here.</p>
          </div>

          <div class="col-xs-12 col-md-4 col-lg-4">
            <h4>Our office</h4>
            <img src="/img/map.png" width=100% alt="Stop by!">
            <p>Our office at 938 Evans Hall is open Monday through Friday from 11am to 5pm.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4 col-md-3 col-lg-2 col-lg-offset-2">
            <img src="/img/hoodie1.jpg" width=100% alt="Victor">
          </div>
          <div class="col-xs-4 col-md-6 col-lg-4">
<p>Oh, we also provide very important services such as selling cheap food and Berkeley Mathematics apparel:
sweatshirts for $30, t-shirts for $15, and stickers for ¢25.</p>
          </div>
          <div class="col-xs-4 col-md-3 col-lg-2">
            <img src="/img/hoodie2.jpg" width=100% alt="Iris">
          </div>
        </div>
      </div>
    </section>
