    <!-- Academic Section -->
    <section id="academic" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
             <h2>Academic Events</h2>
<p>We are committed to improving the academic standing of undergraduate math community at Berkeley, especially
by filling in where the department does not cover. <br />
Some of our academic events are
<a href="https://drive.google.com/open?id=10lVuR_nupTpkj9xLwZN-G7LNga8Cll6hkAg-O6hDI2U">
REU (Research Experience for Undergraduates) Panels</a>, 
<a href="https://math.berkeley.edu/wp/drp/">DRP (Directed Reading Program) Mixers</a>, Graduate School Panels,
and Recreational Math Nights. <br />
Above all, we are proud of our flagship event: Math Monday Undergraduate Lecture Series. 
Math Monday talks are a series of lectures about various topics of research in math and applied math directed 
at undergraduate math students.
</p>
             <a href="{{ site.baseurl }}/academic" class="btn btn-default btn-lg">Math Monday Schedule</a>
          </div>
        </div>
      </div>
    </section>
