    <!-- Awards Section -->
    <section id="resources" class="content-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
<h1>Distinguished Teaching Award</h1>
<p>Every year, MUSA awards an instructor in the department with the Distinguished Teaching &amp; Service Award. The purpose of this award is to recognize excellence in teaching. This award is usually  made at Commencement Exercises in the Spring, and will be presented by the president of MUSA. </p>
    <p> Individuals may make nominations directly to MUSA through the online ballot. MUSA does not consider emeriti faculty for this award. As the award is given at the end of the academic year, consideration for the instructor's performance throughout both semesters is highly encouraged. </p>
    <p>Candidates for this award should provide evidence that they have implemented exemplary teaching in a manner consistent with good practice, initiative, and clairty. The candidate should have had an impact on students and the community both in and out of the classroom.</p>
    <h2> Past Award Winners:</h2>
      2016 &nbsp; &nbsp;Kathryn Mann </br>
      2015 &nbsp; &nbsp;Yan Zhang </br>
      2014 &nbsp; &nbsp;Lauren Williams </br>
      2013 &nbsp; &nbsp;Ken Ribet </br>
      2012 &nbsp; &nbsp;Ole Hald </br>
      2011 &nbsp; &nbsp;Michael VanValkenburgh </br>
      2010 &nbsp; &nbsp;Michael Hutchings </br>
      2009 &nbsp; &nbsp;Jan Reimann </br>
      2008 &nbsp; &nbsp;Mauricio Velasco </br>
      2007 &nbsp; &nbsp;Joel Kamnitzer </br>
      2006 &nbsp; &nbsp;Donald Sarason </br>
      2005 &nbsp; &nbsp;Alexander Givental</br>
      2004 &nbsp; &nbsp;Richard Borcherds and John Neu</br>
      2003 &nbsp; &nbsp;Donald Sarason</br>
      2002 &nbsp; &nbsp;F. Michael Christ</br>
      2001 &nbsp; &nbsp;Mira Bernstein</br>
      2000 &nbsp; &nbsp;Nathaniel Brown</br>
      1999 &nbsp; &nbsp;Jennifer Taback</br>
      1998 &nbsp; &nbsp;Hendrik Lenstra</br>
      1997 &nbsp; &nbsp;Robin Hartshorne</br>
      1996 &nbsp; &nbsp;Dave Auckly</br>
      1995</br>
      1994 &nbsp; &nbsp;Nicolai Reshetikhin</br>
      1993 &nbsp; &nbsp;Paul Chernoff</br>
      1992 &nbsp; &nbsp;Paul Chernoff</br>
      1991 &nbsp; &nbsp;Ole H. Hald</br>
      1990</br>
      1989 &nbsp; &nbsp;Hung-Hsi Wu</br>
      1988 &nbsp; &nbsp;Ole H. Hald</br>
      1987 &nbsp; &nbsp;Andrew J. Casson</br>
      1986 &nbsp; &nbsp;William G. McCallum</br>
      1985 &nbsp; &nbsp;Kenneth Ribet</br>
      1984 &nbsp; &nbsp;Mark Rieffel</br>
      1983 &nbsp; &nbsp;Rainer K. Sachs </br>
          </div>
        </div>
      </div>
    </section>
