    <!-- Footer -->
    <div style="clear:both;"></div>
    <footer>
      <div class="container text-center">
<p style="color: gray; font-size: small"> 
MUSA is a Registered Student Organization acting independently of the 
University of California. <br />
We take full responsibility for our organization and this web site. <br />
Report problems with the site to the <a href="/officers/">current webmaster</a>.<br/>
<a href="/documentation/">Technical documentation</a> for officers.
<!--&copy; {{ site.footer }} 20{{ site.time | date: '%y' }}--><br />
The background image was created by Prof. <a href="http://math.mit.edu/~dyatlov/">Semyon Dyatlov</a>,<br/>
for use by the <a href="https://math.berkeley.edu/~aai/hades/hadesfall18.html">Harmonic Analysis and Differential Equations</a> seminar.
<br/>It depicts the Bohr-Sommerfeld quantization condition for a one-dimensional potential well.
<a href="https://www.ocf.berkeley.edu">
  <img src="{{ site.baseurl }}/img/ocfbadge_mini8dark.png"
       alt="Hosted by the OCF" style="border: 0;" />
</a></p>

      </div>
    </footer>
