    <!-- Footer -->
    <footer>
      <div class="container text-center">
<p style="color: gray; font-size: small"> 
MUSA is a Registered Student Organization acting independently of the 
University of California. <br />
We take full responsibility for our organization and this web site. <br />
<!--&copy; {{ site.footer }} 20{{ site.time | date: '%y' }}--><br />
<a href="https://www.ocf.berkeley.edu">
  <img src="{{ site.baseurl }}/img/ocfbadge_mini8dark.png"
       alt="Hosted by the OCF" style="border: 0;" />
</a></p>

      </div>
    </footer>
