    <!-- Mailing List Section -->
    <section id="group-section" class="content-section">
      <div class="container-fluid">
        <div id="group">
           <iframe id="forum_embed" src="javascript:void(0)"  scrolling="no"
                   frameborder="0"  width="90%"               height="90%">
           </iframe>
           <script type="text/javascript">
             document.getElementById('forum_embed').src = 
             'https://groups.google.com/a/lists.berkeley.edu/forum/embed/?place=forum/musa'
              + '&showsearch=false&showpopout=false&showtabs=false'
              + '&parenturl=' + encodeURIComponent(window.location.href);
           </script>
        </div>
      </div>
    </section>
