    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li><a class="page-scroll" href="{{ site.baseurl }}/#">Home</a></li>
            <li class="dropdown">
              <a class="page-scroll" href="{{ site.baseurl }}/#about">About <b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a class="page-scroll" href="{{ site.baseurl }}/officers/#">Officers</a></li>
                 <li><a class="page-scroll" href="{{ site.baseurl }}/office-hours/">Office Hours</a></li>
                 <li><a class="page-scroll" href="{{ site.baseurl }}/academic/">Academics</a></li>
                 <li><a class="page-scroll" href="{{ site.baseurl }}/professional/#">Professional</a></li>
               </ul>
            </li>
            <li class="dropdown">
              <a class="page-scroll" href="{{ site.baseurl }}/#events">Events <b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a class="page-scroll" href="{{ site.baseurl }}/math-monday/">Math Monday</a></li>
                 <li><a class="page-scroll" href="{{ site.baseurl }}/shadowing/">Shadow a Math Major</a></li>
                 <li><a class="page-scroll" href="{{ site.baseurl }}/ncumc/">MUSA Goes to NCUMC</a></li>
                 <li><a class="page-scroll" href="{{ site.baseurl }}/sperry/">Pauline Sperry Lectures</a></li>
               </ul>
            </li>
            <li class="dropdown">
               <a class="page-scroll" href="{{ site.baseurl }}/resources/#">Resources <b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a class="page-scroll" href="{{ site.baseurl }}/awards/">Distinguished Teaching Award</a></li>
                 <li><a class="page-scroll" href="{{ site.baseurl }}/math74/">Transition to Upper-Div Math</a></li>
                 <li><a class="page-scroll" href="{{ site.baseurl }}/bump/">Mathementoring Program</a></li>
               </ul>
           </li>
           <li><a class="page-scroll" href="{{ site.baseurl }}/#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
