    <!-- Professional Section -->
    <section id="professional" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
             <h2>Professional Events</h2>
<p class="text-justify">We occasionally hold events such as alumni panels and internship panels. <br />
Joining MUSA also connects you to our extensive alumni network. To join our alumni mailing list, please email us.</p>
<!--<p>Joining MUSA also connects you to our extensive alumni network. To join our alumni mailing list, please fill out this <a href="https://docs.google.com/forms/d/1gLZBn0wdOeQYZQnGjMa23lp_LSF2XgUlc-CdB3txXjA/viewform"> form </a>.</p>-->
<!--             <a href="{{ site.baseurl }}/professional" class="btn btn-default btn-lg">Professional Events</a>-->
          </div>
        </div>
      </div>
    </section>
