    <!-- Academic Section -->
    <section id="resources" class="content-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
             <h1>Resources</h1>
               <h3>For Students</h3>
<p>The following is a list of resources that may be helpful for math students.</p>

<p>General Lectures in the Math Community:
<ul>
  <li><a href="http://math.berkeley.edu/~mcf/2013f/" target="_blank">Many Cheerful Facts</a></li>
  <li><a href="https://www.msri.org/web/msri/calendar/general-public/" target="_blank">Public MSRI Events</a></li>
  <li><a href="http://math.berkeley.edu/about/events/colloquium" target="_blank">Berkeley’s Math Department Colloquim</a></li>
  <li><a href="http://math.berkeley.edu/about/events/colloquium" target="_blank">Lecture Series at Berkeley</a></li>
</ul></p>

<p>LaTex Tutorials:
<ul>
  <li><a href="http://www.artofproblemsolving.com/Wiki/index.php/LaTeX:About" target="_blank">From Art of Problem Solving</a></li>
  <li><a href="http://www.math.harvard.edu/texman/" target="_blank">Harvard’s Intro</a></li>
</ul></p>

<p>Practice Exams for Courses Offered By:
<ul>
  <li><a href="https://tbp.berkeley.edu/students/exams/math/" target="_blank">Tau Beta Pi</a></li>
  <li><a href="http://math.berkeley.edu/courses/archives/exams" target="_blank">Berkeley’s Math Department</a></li>
</ul></p>

<p>Putnam Preparation:
<ul>
  <li><a href="http://math.ucsd.edu/~pfitz/pastputnam.html" target="_blank">Exam Archive</a></li>
</ul></p>

<p>Undergraduate Advising:
<ul>
  <li><a href="http://math.berkeley.edu/people/staff/thomas-brown" target="_blank">Thomas Brown</a></li>
  <li><a href="http://math.berkeley.edu/people/staff/jennifer-sixt-pinney" target="_blank">Jennifer Sixt Pinney</a></li>
</ul></p>

              <h3>For Alumni</h3>
<p>If you’d like to stay in touch with our undergraduate math community even after graduating, please send an email to <a href="mailto:musa.berkeley@gmail.com">musa.berkeley@gmail.com</a> and we will keep you informed of opportunities to contribute in the future. You can contribute by giving <a href="http://musa.berkeley.edu/events/math-monday/">Math Monday talks</a> or sharing your experience in professional or academic panels. We promise not to spam you!</p>

          </div>
        </div>
      </div>
    </section>
