    <!-- Academic Section -->
    <section id="resources" class="content-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
             <h1>Resources</h1>
               <h3>For Students</h3>
<p>The following is a list of resources that may be helpful for math students.
To stay informed about opportunities around the department, join our mailing list and ask the department advisors to
add you to their mailing list.
<ul>
  <li><a href="https://wim.math.berkeley.edu/" target="_blank">Women in Mathematics (WiM)</a></li>
  <li><a href="https://math.berkeley.edu/wp/drp/" target="_blank">Berkeley Mathematics Directed Reading Program:</a>
    <br />The Directed Reading Program provides undergraduates with the opportunity to work closely with UC Berkeley
    mathematics graduate students in an independent reading project.</li>
  <li><a href="https://guide.math.berkeley.edu/" target="_blank">The Hitchhiker's Guide to the Math Department:</a>
    <br />A student blog about life as an undergraduate math student at UC Berkeley, written by math peer advisors.
    </li>
  <li><a href="http://math.ucsd.edu/~pfitz/pastputnam.html" target="_blank">Putnam Exam Archive</a></li>
</ul></p>

<p>Math Department Resources:
<ul>
  <li><a href="http://events.berkeley.edu/index.php/calendar/sn/math.html?timeframe=week&date=today" 
         target="_blank">Math Department Calendar</a></li>
  <li><a href="http://math.berkeley.edu/about/events/seminars" target="_blank">Math Seminars</a></li>
  <li><a href="http://math.berkeley.edu/about/events/lectures" target="_blank">Distinguished Lecture Series</a></li>
  <li><a href="http://math.berkeley.edu/~mcf/2013f/" target="_blank">Many Cheerful Facts (defunct)</a></li>
</ul></p>

<p>Undergraduate Advising:
<ul>
  <li><a href="https://math.berkeley.edu/programs/undergraduate/advising" target="_blank">Math Advsiors</a></li>
  <li><a href="http://tinyurl.com/MathFacultyAdvisorOH"                   target="_blank">Faculty Advisors</a></li>
  <li><a href="https://math.berkeley.edu/programs/undergraduate/advising#peer" target="_blank">Peer Advisors</a></li>
</ul></p>

<p>Other Student Groups:
<ul>
  <li><a href="https://wim.math.berkeley.edu/" target="_blank">Women in Mathematics (WiM)</a></li>
  <li><a href="https://sps.berkeley.edu/" target="_blank">Society of Physics Students at Berkeley (SPS)</a></li>
  <li><a href="https://www.csua.berkeley.edu/" target="_blank">Computer Science Undergraduate Association (CSUA)</a></li>
  <li><a href="https://math.berkeley.edu/~urep/" target="_blank">Unbounded Representation (URep)</a></li>
  <li><a href="http://nring.math.berkeley.edu/" target="_blank">Noetherian Ring (NRing)</a></li>
  <li><a href="https://math.berkeley.edu/~mgsa/" target="_blank">Mathematics Graduate Student Association (MGSA)</a></li>
</ul></p>

<p>Math Community Nearby:
<ul>
  <li><a href="https://www.msri.org/" target="_blank">Mathematical Sciences Research Institute</a></li>
  <li><a href="https://simons.berkeley.edu/" target="_blank">Simons Institute for the Theory of Computing</a></li>
  <li><a href="http://crd.lbl.gov/departments/applied-mathematics/math/" 
         target="_blank">Mathematics Group at Lawrence Berkeley National Laboratory</a></li>
</ul></p>

<p>Practice Exams for Courses:
<ul>
  <li><a href="http://math.berkeley.edu/courses/archives/exams" target="_blank">Department's Archive</a></li>
  <li><a href="https://tbp.berkeley.edu/students/exams/math/" target="_blank">Tau Beta Pi's Archive</a></li>
</ul></p>

<p>LaTeX Tutorials:
<ul>
  <li><a href="http://artofproblemsolving.com/wiki/index.php/LaTeX:About" 
         target="_blank">Art of Problem Solving</a></li>
  <li><a href="https://en.wikibooks.org/wiki/LaTeX/Mathematics" target="_blank">LaTeX: Mathematics</a></li>
  <li><a href="http://www.math.harvard.edu/texman/" target="_blank">Harvard Math Department's TeX Intro</a></li>
  <li><a href="http://www.jmilne.org/not/CDGuide.html" target="_blank">Guide to Commutative Diagram Packages</a></li>
</ul></p>

<p>Et certa:
<ul>
  <li><a href="http://decal.berkeley.edu/" target="_blank">DeCal</a></li>
  <li><a href="http://calteach.berkeley.edu/" target="_blank">CalTeach</a></li>
</ul></p>


              <h3>For Alumni</h3>
<p>If you’d like to stay in touch with our undergraduate math community even after graduating, please send an email to <a href="mailto:musa.berkeley@gmail.com">musa.berkeley@gmail.com</a> and we will keep you informed of opportunities to contribute in the future. You can contribute by giving <a href="http://musa.berkeley.edu/events/math-monday/">Math Monday talks</a> or sharing your experience in professional or academic panels. We promise not to spam you!</p>

          </div>
        </div>
      </div>
    </section>
