    <section id="shadowing" class="content-section text-center">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
    <h1>Shadow a Math Major Day</h1>
      <p>Shadow a Math Major Day is an event held each spring, shortly after UC Berkeley sends out its acceptance letters.
      Prospective math majors visit campus and get to see what life as a math student is really like.
      It's a great opportunity for you to decide if Berkeley is right for you, and if math is right for you -- and if it
      is, how to succeed in a challenging, competitive department.</p>
      <p>This will be the third year of Shadow a Math Major Day. We'll send out information to students admitted as math
      majors as soon as we know who's been admitted; if you plan to major in math but didn't say so on your application,
      we'll have a way for you to contact us once the time comes.</p>

      </div>
      </div>
      </div>
    </section>
