    <!-- Academic Section -->
    <section id="academic" class="content-section resource">
    <h1>Academic Events</h1>
    <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/30848788_1886357191414512_6870873163554248281_o.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHtVM7_eyTEVYFgEQ8xVeHLXR2weCBfE_9BSaAJJWmoa6W9ZSFTvnHXpi1lZvJ45q6NHoVLWFWpMxo1tLik6EjWnxc3lWgyxdECHj-52cuJUg&oh=6d5467f601d9b361b53cc6281d95b018&oe=5B4F2FAD" class="semibanner">
<p>We are committed to improving the academic standing of undergraduate math community at 
Berkeley, especially by filling in where the department does not cover. Some of our academic events are:</p>
<ul>
 <li><a href="https://drive.google.com/open?id=10lVuR_nupTpkj9xLwZN-G7LNga8Cll6hkAg-O6hDI2U">
        REU (Research Experience for Undergraduates) Panels;</a></li>
 <li><a href="https://math.berkeley.edu/wp/drp/">DRP (Directed Reading Program) Mixers;</a></li>
 <li>Graduate School Panels;</li>
 <li>and themed Recreational Math Nights.</li>
</ul>
<p>Above all, we are proud of our flagship event: Math Monday Undergraduate Lecture Series. 
Math Monday talks are a series of lectures about various topics of research in math and applied math directed 
at undergraduate math students.</p>
    </section>
