<!-- Team Section -->
    <section id="math-monday" class="content-section resource">
    <h2><a href="/math-monday/">Math Monday</a></h2>
    <p>The Math Monday undergraduate lecture series is the flagship event of MUSA. It is a series of talks, every Monday at 5 PM, given by professors and other academics about mathematical research and special topics.</p>
    <img src=" https://www.ocf.berkeley.edu/~abackus/musapics/mathmondaylecture.jpg" class="semibanner">
    <h3>This Week</h3>
    {% for talk in site.current_monday %}
    <h4>{{ talk.title }}</h4>
    <p>{{ talk.speaker }}</p>
    <p>{{ talk.date }}&mdash;{{ talk.room }}</p>
    <p>{{ talk.abstract }}</p>
    {% endfor %}
    </section>
