<!-- Team Section -->
    <section id="math-monday" class="content-section resource">
    <h2><a href="/math-monday/">Math Monday</a></h2>
    <p>The Math Monday undergraduate lecture series is the flagship event of MUSA. It is a series of talks, every Monday at 5 PM, given by professors and other academics about mathematical research and special topics.</p>
    <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/31265508_978887685625494_2338490537394307072_n.jpg?_nc_cat=0&oh=40bc363fda937a60b44c14cd8621c495&oe=5B5DCDD0" class="semibanner">
    <!--
    <h3>This Week</h3>
    {% for talk in site.current_monday %}
    <h4>{{ talk.title }}</h4>
    <p>{{ talk.speaker }}</p>
    <p>{{ talk.date }}&mdash;{{ talk.room }}</p>
    <p>{{ talk.abstract }}</p>
    {% endfor %}
    -->
    </section>
