    <section id="math74" class="content-section resource">
    <h2><a href="/math74/">Transition to Upper-Division Math</a></h2>
     <p>Stepping into your first upper division math course can be a scary thing. Unlike other subjects, the difference between lower and upper division courses in math can be quite overwhelming, the two main culprits being writing proofs and abstract concepts. In this course we will address these issues head-on. In particular, we will learn how to write proofs and develop good mathematical style and we will give students more familiarity withthe mathematical objects appearing in Math 104 and Math 113.</p> 
    <p>Math 74 is a seminar taught by MUSA officers, especially Cailan Li, beginning in Spring 2018. It is meant for students currently enrolled in Math 104 or Math 113, to supplement the proof-writing skills needed in those classes.</p>
    <p>Math 74 meets Monday in 736 Evans and Friday in 748 Evans, both days 4 PM-5 PM.</p>
    <p><a href="/math74/syllabus.pdf">Syllabus</a></p>
    <p><a href="/math74/notes.pdf">Course notes</a></p>
    </section>
