    <!-- NCUMC Section -->
    <section id="ncumc" class="content-section resource">
<h2><a href="/ncumc/">Northern California Undergraduate Math Conference road trip</a></h2>

<img src="{{ site.baseurl }}/img/ncumc.jpg" class="banner">

<p>Each year, MUSA organizes a road trip for undergraduates to attend the
<a href="https://sites.google.com/site/nocalumc/">Northern California Undergraduate
Mathematics Conference</a>, which is held in March at a local university. The conferences provides an opportunity
for undergraduates to talk about their senior theses, REUs, or DRP projects.</p>

<p>The trip is partially funded by MUSA and the ASUC.</p>
    </section>
