    <!-- About Section -->
    <section id="about" class="content-section text-center">
            <h1>About us</h1>
<p>We are the Mathematics Undergraduate Student Association of the University of California, Berkeley!</p>
<img src="{{ site.baseurl }}/img/intro-bg2.jpg" class="banner" alt="We are MUSA!">
<div class="resource">
<p>We strive to improve the overall quality of studying mathematics here as an undergraduate, especially by 
advocating for issues that benefit the entire undergraduate math community, not only the subset that attends our 
events.</p>
<p>Joining MUSA is an excellent way to connect with other math enthusiasts. You can learn about the many 
opportunities for math students, including little tricks that will help you survive the rigorous math curriculum 
here.</p>
<p>We have <a href="/academic/">academic</a>, <a href="/outreach/">outreach</a>, and <a href="/professional/">professional</a>
groups working to provide services to math undergraduates, including our <a href="/math-monday/">Math Monday</a> lecture
series, <a href="/shadowing/">Shadow a Math Major Day</a>, and our biannual alumni panel. Our <a href="/office/">office</a>,
938 Evans, is also usually open, selling hoodies and food &mdash; but we encourage students to come in just
to chat about math or life. We won't bite!</p>
<p>We encourage students to come to our <a href="#events">Thursday events</a>, held in 1015 Evans, where
you can meet fellow math geeks and get valuable information.</p>
<p>Most annoucements are done over MUSA's mailing list. To join the mailing list, click "Join Group" on the
Google Groups frame below.</p>
    </section>
