    <!-- About Section -->
    <section id="about" class="content-section text-center">
            <h1>About us</h1>
<p>We are the Mathematics Undergraduate Student Association of the University of California, Berkeley!</p>
<img src="{{ site.baseurl }}/img/intro-bg2.jpg" class="banner" alt="We are MUSA!">
<div class="resource">
<p>We strive to improve the overall quality of studying mathematics here as an undergraduate, especially by 
advocating for issues that benefit the entire undergraduate math community, not only the subset that attends our 
events.</p>
<p>Joining MUSA is an excellent way to connect with other math enthusiasts. You can learn about the many 
opportunities for math students, including little tricks that will help you survive the rigorous math curriculum 
here.</p>
<p>Our <a href="/office/#officers">officers</a> include <a href="/academic/">academic</a>, diversity, <a href="/outreach/">outreach</a>, and <a href="/professional/">professional</a>
groups working to provide services to math undergraduates, including:</p>
<ul class="text-justify">
<li>Our <a href="/math-monday/">Math Monday</a> and <a href="/sperry/">Pauline Sperry</a> lecture series,</li>
<li><a href="/ncumc/">road trips to conferences</a>,</li>
<li><a href="/shadowing/">Shadow a Math Major Day</a>, for admitted high school seniors,</li>
<li>our biannual alumni panel,</li>
<li>the <a href="/bump/">Berkeley Undergraduate Mathementoring Program</a>, where
lower division students can get wisdom from juniors and seniors as well as become more involved in the Berkeley
math community,</li>
<li>and advocacy for the undergraduate community to the department, faculty, and university!</li>
</ul>
<p>Our <a href="/office/">office</a>,
938 Evans, is also usually open, selling hoodies and food &mdash; but we encourage students to come in just
to chat about math or life. We won't bite!</p>
<p>We encourage students to come to our <a href="#events">Thursday events</a>, held in 1015 Evans, where
you can meet fellow math geeks and get valuable information. Our events are open to the public,
<strong>not just declared math majors</strong> &mdash;
so don't be a stranger!</p>
<p>Most annoucements are done over MUSA's mailing list.</p>
</div>
<div id="mailform">
<form action="https://berkeley.us18.list-manage.com/subscribe/post?u=8e44277f83c4f8f89d7ca4fdd&amp;id=fe391591f4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
  <label for="mce-EMAIL" style="font-weight:bold;padding-bottom:10px;font-size:20px;display:block;">Subscribe to our mailing list!</label>
  <input value="" name="EMAIL" class="email" id="mce-EMAIL" required="" placeholder="Email address" type="email"><input value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit">

</form>
</div>
    </section>
