    <!-- Contact Section -->
    <section id="contact" class="content-section resource">
            <h2>Contact</h2>
<p class="text-justify">Have any questions? Email us at <a href="mailto:musa@math.berkeley.edu">musa@math.berkeley.edu</a> 
or visit our office at 938 Evans Hall. You might also check out our <a href="https://www.facebook.com/groups/musa.berkeley/">Facebook</a> group.</p>

            <h3>Send us a message!</h3>
            <form method="POST" action="https://formspree.io/musa@math.berkeley.edu" class="email">
              <input type="email" name="email"   style="width: 100%;" placeholder="fermat@berkeley.edu"/> 
              <input type="text" name="_subject" style="width: 100%;" placeholder="Proof of my last theorem"/>
              <textarea          name="message" style="width: 100%;" rows="10"
placeholder="I have discovered a truly marvelous proof of this, which this margin is too narrow to contain."></textarea> 
              <input type="submit" class="btn btn-default btn-lg"/>
            </form>
    </section>

