    <!-- Events Section -->
    <section id="events" class="content-section resource">
            <h2>Weekly Events</h2>
<p>We hold events every week throughout the semester. Typically, our events are held at 
<strong>6pm-8pm at Evans 1015</strong>, the top floor lounge of Evans Hall. Our upcoming events
can be seen in the calendar.
<iframe src="https://calendar.google.com/calendar/embed?src=musa.berkeley%40gmail.com&mode=AGENDA&ctz=America%2FLos_Angeles" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>

<!--
<h3>Math Monday</h3>
<p><a href="/math-monday/">Archive</a></p>
{% for talk in site.current_monday %}
<h4>{{ talk.title }}</h4>
<p>{{ talk.speaker }}</p>
<p>{{ talk.date }} &mdash; {{ talk.room }}</p>
<p>{{ talk.abstract }}</p>
{% endfor %}
<h3>Featured Problem</h3>
<p><a href="/featured-problems/">Archive</a></p>
{% for problem in site.current_problem %}
<h4>{{ problem.title }}</h4>
<p><strong>Prerequisite</strong>: {{ problem.prereq }}</p>
<p>{{ problem.problem }}</p>
{% endfor %}
-->
</section>
