<!-- Team Section -->
    <section id="office-hours" class="content-section text-center">
    <h2>Office Hours</h2>
    <p>Our office is 938 Evans, between the courtyard and the back elevators. Come pay us a visit to buy food, sweaters, and other goodies, get information about upcoming events, or just relax and chat about math and life!</p>
    <h3>Food</h3>
    <table class="imgmap">
    {% for food in site.food %}
    <tr><td class="img"><img src="{{ site.baseurl }}/img/office-hours/{{food.pic}}"></td>
    <td class="map">
    <h4>{{ food.name }}</h4>
    <p><strong>Price</strong>: {{ food.price }}</p>
    <p>{{ food.notes }}</p>
    </tr>
    {% endfor %}
    </table>
    <h3>Hoodies!</h3>
    <img style="display:block;float:right;width:30%;" src="{{ site.baseurl }}/img/hoodie1.jpg">
    <p>We sell hoodies for $30 (blue and gray), T-shirts for $15 (blue and gray), and stickers!</p>
    <h3>Hours</h3>
    <table style="width: 10in; margin:auto; font-size: 20px">
    <tr><th style="text-align:center;"></th><th style="text-align:center;">Monday</th><th style="text-align:center;">Tuesday</th><th style="text-align:center;">Wednesday</th><th style="text-align:center;">Thursday</th><th style="text-align:center;">Friday</th></tr>
    {% for hour in site.hours %}
    <tr>
        <td>{{ hour.time }}</td>
        <td>{{ hour.monday }}</td>
        <td>{{ hour.tuesday }}</td>
        <td>{{ hour.wednesday }}</td>
        <td>{{ hour.thursday }}</td>
        <td>{{ hour.friday }}</td>
    </tr>
    {% endfor %}
    </table>
      </div>
      </div>
      </div>
    </section>
