<!-- Team Section -->
    <section id="former-officers" class="content-section text-center">
                    <h2>Former Officers</h2>
                {% for member in site.retired %}
                <div class="left box">
                        <img src="{{ site.baseurl }}/img/team/{{ member.lpic }}">
                     <h4>{{ member.lname }}</h4>
                        <p>{{ member.lposition }}</p>
                        <p>{{ member.lnotes }}</p>
                </div>
                <div class="right box">
                        <img src="{{ site.baseurl }}/img/team/{{ member.rpic }}">
                     <h4>{{ member.rname }}</h4>
                        <p>{{ member.rposition }}</p>
                        <p>{{ member.rnotes }}</p>
                </div>
                {% endfor %}
                <p>See also our <a href="/office/">present officers</a>.</p><!-- don't move this! -->
    </section>
