<!-- Team Section -->
    <section id="former-officers" class="content-section text-center">
                    <h2>Former Officers</h2>
                {% for member in site.retired %}
                <div class="box">
                     <h4>{{ member.name }}</h4>
                        <p>{{ member.position }}</p>
                        <p>{{ member.notes }}</p>
                        <img src="{{ site.baseurl }}/img/team/{{ member.pic }}" class="img-responsive img-circle" alt="">
                </div>
                {% endfor %}
    </section>
