<!-- Team Section -->
    <section id="office-hours" class="content-section resource">
    <h1>Office Hours</h1>
    <p>Our office is 938 Evans, between the courtyard and the back elevators. Come pay us a visit to buy food, sweaters, and other goodies, get information about upcoming events, or just relax and chat about math and life!</p>
    <h2>Hours</h2>
    <table class="hours"> 
    <tr><th></th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th></tr>
    {% for hour in site.hours %}
    <tr>
        <td>{{ hour.time }}</td>
        <td>{{ hour.monday }}</td>
        <td>{{ hour.tuesday }}</td>
        <td>{{ hour.wednesday }}</td>
        <td>{{ hour.thursday }}</td>
        <td>{{ hour.friday }}</td>
    </tr>
    {% endfor %}
    </table>
    <h2>Food and Hoodies</h2>
    <img src="/img/office-hours/Hoodie.jpg" style="float:right;width:300px;">
    <table class="food">
    {% for food in site.food %}
    <tr>
    <th>{{ food.name }}</th>
    <td>{{ food.price }}</td>
    </tr>
    {% endfor %}
    </table>
    </section>
