<!-- Team Section -->
    <section id="office-hours" class="content-section resource">
    <h1>Office Hours</h1>
    <p>Our office is 938 Evans, between the courtyard and the back elevators. Come pay us a visit to buy food, sweaters, and other goodies, get information about upcoming events, or just relax and chat about math and life!</p>
    <h2>Hours</h2>
    <table class="hours"> 
    <tr><th></th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th></tr>
    {% for hour in site.hours %}
    <tr>
        <td>{{ hour.time }}</td>
        <td>{{ hour.monday }}</td>
        <td>{{ hour.tuesday }}</td>
        <td>{{ hour.wednesday }}</td>
        <td>{{ hour.thursday }}</td>
        <td>{{ hour.friday }}</td>
    </tr>
    {% endfor %}
    </table>
    <h2>Food and Hoodies</h2>
    {% for food in site.food %}
    <div class="left box">
    <h4>{{ food.lname }}</h4>
    <p>{{ food.lnotes }}</h4>
    <p><strong>Price</strong>: {{ food.lprice }}</p>
    <img src="{{ site.baseurl }}/img/office-hours/{{food.lpic}}">
    </div>
    <div class="right box">
    <h4>{{ food.rname }}</h4>
    <p>{{ food.rnotes }}</p>
    <p><strong>Price</strong>: {{ food.rprice }}</p>
    <img src="{{ site.baseurl }}/img/office-hours/{{food.rpic}}">
    </div>
    {% endfor %}
    </table>
    </section>
