<!-- Team Section -->
    <section id="officers" class="content-section text-center">
                    <h2>Officers</h2>
               <table class="imgmap">
                {% for member in site.people %}
                <tr><td class="img">
                        <img src="{{ site.baseurl }}/img/team/{{ member.pic }}" class="img-responsive img-circle" alt="">
                     </td><td class="map">
                     <h4>{{ member.name }}</h4>
                        <p>{{ member.position }}</p>
                        <p>{{ member.notes }}</p>
                    </td></tr>
                {% endfor %}
                </table>

                <p><a href="/former_officers/">Former officers</a></p>
    </section>
