    <section id="bump" class="content-section resource">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
    <h1>Berkeley Undergraduate Mathementoring Program</h1>
      <p>BUMP (function), or the Berkeley Undergraduate Mathementoring Program (for undergraduates not capable of taking initiative out of nervousness),
      is MUSA's mentoring program. </p>
      <p>BUMP mentors, who are junior or senior volunteers, meet with their students, first and second-years, weekly or biweekly.
      MUSA occasionally sponsors special events for BUMP, but mentors and groups of mentors are responsible for holding
      most of the events.</p>
      <p>While signups are closed for Spring 2018, keep an eye on our mailing list if you're interested in the fall!</p>
      </div>
      </div>
      </div>
    </section>
