    <section id="bump" class="content-section resource">
    <h2><a href="/bump/">Berkeley Undergraduate Mathementoring Program</a></h2>
      <p>BUMP (function), or the Berkeley Undergraduate Mathementoring Program,
      is MUSA's mentoring program. </p>
      <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/31743678_1850817074980765_7205280794112163840_n.jpg?_nc_cat=0&oh=e64136685f1ace75a3e11872889719e7&oe=5B56A159" class="semibanner">
      <p>BUMP mentors, who are junior or senior volunteers, meet with their students, first and second-years, weekly or biweekly.
      MUSA occasionally sponsors special events for BUMP, but mentors and groups of mentors are responsible for holding
      most of the events.</p>
      <p>While signups are closed for Spring 2018, keep an eye on our mailing list if you're interested in the fall!</p>
    </section>
