    <section id="bump" class="content-section resource">
    <h2><a href="/bump/">Berkeley Undergraduate Mathementoring Program</a></h2>
      <p>BUMP (function), or the Berkeley Undergraduate Mathementoring Program,
      is MUSA's mentoring program. </p>
      <img src="https://www.ocf.berkeley.edu/~abackus/musapics/bumpyandi.jpg" class="semibanner">
      <p>BUMP mentors, who are junior or senior volunteers, meet with their students, first and second-years, weekly or biweekly.
      MUSA occasionally sponsors special events for BUMP, but mentors and groups of mentors are responsible for holding
      most of the events.</p>
      <p>While signups are closed for Spring 2018, keep an eye on our mailing list if you're interested in the fall!</p>
    </section>
