    <!-- Outreach Section -->
    <section id="outreach" class="content-section resource">
             <h1>Outreach</h1>
    <p>MUSA's outreach team is responsible for holding events that not only improve
    the quality of life for undergraduates here in the math department, but also prospective
    students and math enthusiasts in the general public.</p>
    <img src="https://www.ocf.berkeley.edu/~abackus/musapics/outreachpiday.jpg" class="semibanner">
    <p>Most notably, every spring MUSA holds <a href="/shadowing/">Shadow a Math Major Day</a>
    for prospective freshmen. We also are in charge of <a href="/bump/">BUMP</a>, the math
    department's mentoring program.</p>
    </section>
